resources:
  cloud: gcp
  instance_type: {{instance}}
  region: {{region}}
  {% if image_id %}
  image_id: {{image_id}}
  {% endif %}
  {% if disk_size %}
  disk_size: {{disk_size}}
  {% endif %}


setup: |
  conda config --add channels defaults
  conda config --add channels bioconda
  conda config --add channels conda-forge
  conda install -y mamba -n base -c conda-forge
  sleep 3
  which mamba
  mamba install -y anndata pandas pybedtools pyBigWig pysam seaborn xarray zarr=2.12 htslib rpy2 dask scipy scikit-learn h5py joblib pytables statsmodels numcodecs
  pip install git+https://github.com/zhoujt1994/scHiCluster.git
  pip install git+https://github.com/lhqing/gliderport.git

file_mounts:
  /output:
    source: gs://{{ output_bucket }}/
    mode: MOUNT
