resources:
  cloud: gcp
  instance_type: {{instance}}
  region: {{region}}
  image_id: {{image_id}}
  disk_size: {{ disk_size }}

setup: |
  yap --version
  allcools --version
  hisat-3n --version
  pip install gcsfs
  pip install git+https://github.com/lhqing/gliderport.git
  pip install --upgrade cemba_data
  pip install --upgrade allcools

# this part is added by GliderPort
# run:
#   glider vm-worker --bucket bucket --prefix prefix --max_idle_time max_idle_time
