delete_input: true
input:
  local:
    {% for allc_path in allc_paths %}- {{ allc_path }}
    {% endfor %}
output:
  bucket: {{ bucket }}
  prefix: {{ prefix }}
run: |
  set -e
  cd $HOME/sky_workdir/
  pwd
  ls -hal

  # download chrom size path
  gsutil cp {{ chrom_size_cloud_path}} ./chrom.sizes

  # setup
  find ./ | grep "tsv.gz$" > ./allc_files.txt

  # update time stamp of tbi to prevent tabix from complaining
  touch *.tbi

  # merge allc files
  allcools merge-allc \
  --allc_paths ./allc_files.txt \
  --output_path ./{{ output_name }} \
  --chrom_size_path ./chrom.sizes \
  --cpu {{ cpu }}

  # delete input files
  xargs -I{} rm -rf "{}" < ./allc_files.txt
  xargs -I{} rm -rf "{}".tbi < ./allc_files.txt
  rm -f ./chrom.sizes ./allc_files.txt
