delete_input: true
input:
  local:
    {% for allc_path in allc_paths %}- {{ allc_path }}
    {% endfor %}
output:
  bucket: {{ bucket }}
  prefix: {{ prefix }}
run: |
  set -e
  conda activate base
  pwd
  cd $HOME/sky_workdir/
  pwd
  # download chrom size path
  gsutil cp {{ chrom_size_cloud_path}} ./chrom.sizes

  # setup
  find ./ | grep "tsv.gz$" > ./allc_files.txt

  # merge allc files
  allcools merge-allc \
  --allc_paths ./allc_files.txt \
  --output_path ./{{ output_name }} \
  --chrom_size_path ./chrom.sizes \
  --cpu {{ cpu }}

  # delete input files
  rm -rf ./allc/ ./chrom.sizes
