delete_input: true
input:
  local:
    - {{ work_dir }}
output:
  bucket: {{ bucket }}
  prefix: {{ prefix }}
python: |
  from gliderport.preset import RobustSnakemakeRunner, notebook_snakemake
  notebook_snakemake(
    work_dir='./',
    notebook_dir='template/',
    groups='groups.txt',
    default_cpu={{ default_cpu }},
    default_mem_gb={{ default_mem_gb }},
    redo_prepare=True,
  )

  RobustSnakemakeRunner(
    work_dir="./",
    snakefile="Snakefile",
    n_jobs={{ total_jobs }},
    n_mem_gb={{ total_mem_gb }},
    retry=2,
    keep_going=True,
    latency_wait=60
  ).run()
