delete_input: true
input:
  local:
    - {{ groups_path }}
    - {{ templates_path }}
output:
  bucket: {{ bucket }}
  prefix: {{ prefix }}
python: |
  from gliderport.preset import RobustSnakemakeRunner, notebook_snakemake
  import pathlib
  cwd = pathlib.Path()
  print(cwd.absolute())
  print(list(cwd.glob("**/*")))

  notebook_snakemake(
    work_dir='./',
    notebook_dir='template/',
    groups='./groups.txt',
    default_cpu={{ default_cpu }},
    default_mem_gb={{ default_mem_gb }},
    redo_prepare=False,
  )

  RobustSnakemakeRunner(
    work_dir="./",
    snakefile="Snakefile",
    n_jobs={{ total_jobs }},
    n_mem_gb={{ total_mem_gb }},
    retry=2,
    keep_going=True,
    latency_wait=20,
    sleep_after_fail={{ sleep_after_fail }},
    check=False
  ).run()
